# Hello World

## Prerequisites

* JDK {{javaVersion}} or later.
  OpenJDK binaries are available from https://adoptium.net

## Build and Run

Execute this shell command:

```
mvn compile exec:java \
    -Dexec.mainClass="{{package}}.HelloCouchbase" \
    -Dexec.cleanupDaemonThreads=false
```
